.video-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);

    &__container{
        position: relative;
        display: block;
        height: 90%;
        width: 90%;
        background: #fff;
    }

    &__local{
        background: rgba(0, 0, 0, .4);
        position: absolute;
        width: 20%;
        height: 20%;
        right: 0;
        bottom: 0;
        z-index: 1;

        video{
            transform: scale(-1, 1);
            width: 100%;
            height: 100%;
        }
    }

    &__remote{
        background: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100%;
        video{
            transform: scale(-1, 1);
            width: 100%;
            height: 100%;
        }
    }
}

// @media (max-width: 800px){
//     .video-chat{
//         &__container{
//             width: 100%;
//             height: 100%;
//         }

//         &__local{
//             width: 20%;
//             height: 20%;
//         }
//     }
// }